<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Terima kasih telah bergabung, periksa <a href="https://gmail.com">email</a> anda.
  </body>
</html>
